body{
  background-color: aquamarine;
}
.svetofor{
  width: 150px;
  height: 150px;
  border: 2px black solid;
  border-radius: 50%;
}
#red{
background-color: red;
margin-left: 50px;
}

#yellow{
background-color: yellow;
margin-left: 50px;
}

#green{
background-color: green;
margin-left: 50px;
}
