
.element {
  color: blueviolet;
  background-color: #B0C4DE;
}
.lesom1 {
  color: aquamarine;
}
.lesom2 {
  color: chocolate;
  background-color: #9370DB;
  border: 1px red solid ;
}
.lesom3 {
  color: brown;
  background-color: transparent;
}
.lesom4 {
  color: black;
  background-color: #B0C4DE;
  background-image: url(../img/main/Fluture.jpg);
}
.logo {
  background-image: url(/img/main/Pingvin.png);
  background-repeat: no-repeat;
  height: 100pc;
  
}
.border{
  border: 2px gainsboro ;
}
body{
  background-image: url(/img/main/Fluture.jpg);
  background-repeat: no-repeat;
}
p{
  border: 2px blue  dashed;
  
  
}