
.element {
  color: blueviolet;
  background-color: #B0C4DE;
}
.lesom1 {
  color: aquamarine;
}
.lesom2 {
  color: chocolate;
  background-color: #9370DB;
  border: 1px red solid ;
}
.lesom3 {
  color: brown;
  background-color: transparent;
}
.lesom4 {
  color: black;
  background-color: #B0C4DE;
  background-image: url(../img/main/Fluture.jpg);
}
.logo {
  background-image: url(/img/main/Table1.jpg);
  background-repeat: no-repeat;
  height: 20pc;
  width: 5000px;
  border: 1px black solid;
  
}
.border{
  border: 2px gainsboro ;
}
body{
  background-image: url(/img/main/Fluture.jpg);
  background-repeat: no-repeat;
}
p{
  border: 2px blue  dashed;
}

.frist{
  background-image: url(/img/main/catalog.png);
  background-repeat: no-repeat;
  height: 20px;
  height: 30px;
}

#number1{
  background-image: url(/img/main/Fluture.jpg);
  /* background-color: aqua; */
  color: red;
  height: 150px;
  width: 850px;
  border: 5 px black dotted;
}